@import "tailwindcss";
/* globals.css */
html {
  scroll-behavior: smooth;
}
@keyframes moveDots {
  0% {
    background-position: 0 0, 25px 25px;
  }
  100% {
    background-position: 50px 50px, 75px 75px;
  }
}

.animate-dots {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 25px 25px;
  animation: moveDots 3s linear infinite;
}
